.browsey-packaged-badge {
  position: fixed;
  bottom: 8px;
  right: 8px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 9999999;
}
